body{
	background-color:lightblue;
}
.profile{
	height: 200px;
	width: 200px;
	margin: auto;
	padding: 10px;

}

.col{
	float: left;
	width: 50%;
}
.nice-border{
	padding-bottom: 5px;
	padding-left: 5px;
}
.content{
	width: 1240px;
	margin-left: auto;
	margin-right: auto;
}
table{
	font-family: "Arial", Times, sans-serif;
	font-size: 25px;
	color: rgb(139, 0, 132);
}
.profile_info{
	font-size: 30px;
	margin: 5px 0px 0px 5px;
}
.contact{
	height: 400px;
	width: 400px;
}
#subject{
	height: 90px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(248, 233, 233);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f254;
    padding: 20px;
}
#email, #webad, #url{
	width: 100%;
    padding: 14px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 7px;
    margin-bottom: 18px;
    resize: vertical;
}
#re{
	float: right;
	background-color: lightblue;
	padding: 6px;
	color: white;
}
#sub{
	float: right;
	background-color: lightskyblue;
	padding: 5px;
	color: white;
}
#re:hover{
	background-color: green;
}
#sub:hover{
	background-color: green;
}
.foo{
	clear: both;
}
.button:hover {
    background-color: rgb(28, 0, 186);
    color: white;
}
